@import "../node_modules/tinper-bee-core/scss/minxin-variables";
@import "../node_modules/tinper-bee-core/scss/minxin-mixins";

@import "../node_modules/bee-notification/src/Notification.scss";

$message-font-size: 12px;
$zIndex-message: 1010;
$message-top: 16px;
$message-left:0;

.u-message {
    font-size: $message-font-size;
    position: fixed;
    z-index: $zIndex-message;
    width: 100%;
    top: $message-top;
    left: $message-left;
}
